<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-expand">

    @if (providerBundle?.loggingInfo) {
      <div class="uk-margin-medium-top">
        <div class="uk-container uk-container-center">
          <!--        <div class="uk-flex" style="margin-bottom: -10px">-->
          <!--          <div class="uk-button uk-button-action uk-disabled uk-margin-small-top uk-flex uk-align-center uk-margin-small-bottom" style="color: #ffffff; background-color: #1d193c">Today</div>-->
        <!--        </div>-->
        <div class="al_timeline">
          @if (providerBundle?.loggingInfo?.length>0) {
            @for (history of providerBundle.loggingInfo; track history; let i = $index) {
              @if (i < 6) {
                <div class="al_timeline_block update">
                  <div class="al_timeline_image uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-scale-up uk-flex uk-flex-middle uk-flex-center">
                    <span class="material-icons">history</span>
                  </div>
                  <div class="al_timeline_content uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-right">
                    <div class="uk-flex uk-flex-between">
                      <div class="uk-label">
                        {{history.type | titlecase}}
                      </div>
                      <div>
                        <span class="uk-text-meta">Update: </span>{{history.date | date: 'medium'}}
                      </div>
                    </div>
                    <div class="uk-margin-top">
                      @if (history.type === 'onboard') {
                        <h6>Onboarding - {{history.actionType | titlecase}}</h6>
                      }
                      @if (history.type === 'update') {
                        <h6>Update - {{history.actionType | titlecase}}</h6>
                      }
                      @if (history.type === 'audit') {
                        <h6>Audited as {{history.actionType | titlecase}}</h6>
                      }
                      @if (history.type === 'draft') {
                        <h6>Saved as Draft</h6>
                      }
                    </div>
                    <div>
                      @if (history.userFullName || history.userEmail || history.userRole) {
                        <span>by</span>
                      }
                      {{history.userFullName}}
                      @if (history.userFullName && history.userEmail) {
                        <span>-</span>
                      }
                      {{history.userEmail}}
                      @if (history.userRole) {
                        <span>({{history.userRole}})</span>
                      }
                    </div>
                    @if (history.comment && history.comment!=='null') {
                      <div class="uk-margin-medium-top">
                        <span class="comment"><i class="fa fa-comment uk-margin-small-right"></i>{{history.comment}}</span>
                      </div>
                    }
                  </div>
                </div>
              }
            }
          }
        </div>
      </div>
      <div class="uk-margin-top uk-text-center">
        @if (providerBundle?.loggingInfo?.length>0) {
          <a
            [routerLink]="['/provider/' + providerBundle.id + '/dashboard/fullHistory']"
          class="uk-h3 uk-link">See all results...</a>
        }
      </div>
    </div>
  }

</div>
</div>
