<div class="uk-section-default uk-section uk-section-xsmall uk-padding-remove-bottom">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid">

      <app-side-menu class="uk-width-1-5" [chapterModel]="formBuilder" (showChapterOrSection)="updateView($event)"></app-side-menu>
      <div class="uk-width-3-5">
        <ul id="chapter-tabs" class="uk-switcher">
          @for (chapter of formBuilder; track chapter) {
            <li>
              <app-chapter-builder [chapter]="chapter" [ngClass]="{'uk-display-none': show !== 'chapter'}"></app-chapter-builder>
              <ul id="section-tabs" class="uk-switcher" [ngClass]="{'uk-display-none': show !== 'section'}">
                @for (section of chapter.subSections; track section) {
                  <li>
                    <app-section-builder [section]="section"></app-section-builder>
                    @for (field of section.fields; track field; let i = $index) {
                      <app-field-builder [field]="field"></app-field-builder>
                    }
                  </li>
                }
              </ul>
            </li>
          }
        </ul>
      </div>

    </div>
  </div>
</div>

<pre>{{formBuilder | json}}</pre>
