@if (form) {
  <form [formGroup]="form" class="{{fieldData.form.display?.cssClasses}}" [ngClass]="{'uk-hidden clear-style': (hideField || !fieldData.form.display.visible)}">
    <!--  {{fieldData.name | json}}-->
    @if (fieldData.label?.text) {
      <div class="uk-form-label uk-margin-bottom {{fieldData.label?.cssClasses}}"
        [attr.for]="fieldData.name" style="{{fieldData.label.style}}">
        {{fieldData.label?.text + (fieldData.form.mandatory ? ' (*)' : '')}}
      </div>
    }
    @if (fieldData.form.description?.showLess) {
      @if (fieldData.form.description.text) {
        <div class="uk-form-description uk-margin-bottom uk-width-9-10 {{fieldData.form.description.cssClasses}}"
          style="{{fieldData.form.description.style}}">
          <read-more-text [maxHeight]="46" [text]="fieldData.form.description.text"></read-more-text>
        </div>
      }
    } @else {
      @if (fieldData.form.description?.text) {
        <div [innerHTML]="fieldData.form.description.text" style="{{fieldData.form.description.style}}"
          class="uk-form-description uk-margin-bottom uk-width-9-10 {{fieldData.form.description.cssClasses}}">
        </div>
      }
    }
    @if (fieldData.typeInfo.multiplicity) {
      <div>
        <div uk-sortable="handle: .uk-sortable-handle" (moved)="movedElement($event)">
          @for (control of fieldAsFormArray().controls; track control; let i = $index) {
            <div id="{{i}}" class="uk-width-expand uk-grid">
              <div [formGroupName]="i" class="uk-width-9-10 uk-margin-medium-left"
                [ngClass]="{'uk-margin-bottom formGroupElement': fieldData.form.display?.hasBorder}">
                @if (fieldAsFormArray().length > 1) {
                  <div class="uk-flex uk-flex-right">
                    <span class="uk-sortable-handle uk-text-center" uk-icon="icon: move"></span>
                  </div>
                }
                @for (control of fieldData?.subFields; track control; let j = $index) {
                  <div>
                    <div class="">
                      @if (control.typeInfo.type === 'composite') {
                        <div>
                          <app-composite-field [fieldData]="control" [subVocabularies]="subVocabularies" [readonly]="readonly"
                            [vocabularies]="vocabularies" (hasChanges)="unsavedChangesPrompt()"
                            [position]="i" (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-composite-field>
                        </div>
                      }
                      @if (control.typeInfo.type === 'chooseOne') {
                        <div>
                          <app-choose-one [fieldData]="control" [subVocabularies]="subVocabularies"
                            [vocabularies]="vocabularies" (hasChanges)="unsavedChangesPrompt()"
                            [position]="i" (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-choose-one>
                        </div>
                      }
                      @if (control.typeInfo.type === 'vocabulary' || control.typeInfo.type === 'select') {
                        <div class="uk-form-controls uk-margin-medium-top">
                          <app-vocabulary-field [fieldData]="control" [subVocabularies]="subVocabularies"
                            [vocabularies]="vocabularies" (hasChanges)="unsavedChangesPrompt()"
                            [position]="i" (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-vocabulary-field>
                        </div>
                      }
                      @if (control.typeInfo.type === 'string' || control.typeInfo.type === 'email'||
                        control.typeInfo.type === 'phone' || control.typeInfo.type === 'url' ||
                        control.typeInfo.type === 'double') {
                        <div>
                          <app-string-url-email-field [fieldData]="control" [position]="i" (hasChanges)="unsavedChangesPrompt()"
                            (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-string-url-email-field>
                        </div>
                      }
                      @if (control.typeInfo.type === 'number') {
                        <div>
                          <app-number-field [fieldData]="control" [position]="i" (hasChanges)="unsavedChangesPrompt()"
                            (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-number-field>
                        </div>
                      }
                      @if (control.typeInfo.type === 'checkbox') {
                        <div class="uk-form-controls">
                          <app-checkbox-field [fieldData]="control" [position]="i" (hasChanges)="unsavedChangesPrompt()"
                            (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-checkbox-field>
                        </div>
                      }
                      @if (control.typeInfo.type === 'largeText') {
                        <div>
                          <app-large-text-field [fieldData]="control" [position]="i" (hasChanges)="unsavedChangesPrompt()"
                            (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-large-text-field>
                        </div>
                      }
                      @if (control.typeInfo.type === 'radio') {
                        <div class="uk-form-controls">
                          <app-radio-button-field [fieldData]="control" [position]="i" (hasChanges)="unsavedChangesPrompt()"
                            (handleBitSets)="handleBitsetOfChildren($event)" [readonly]="readonly"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-radio-button-field>
                        </div>
                      }
                      @if (control.typeInfo.type === 'richText') {
                        <div class="uk-form-controls">
                          <app-rich-text-field [fieldData]="control" [position]="i"  (hasChanges)="unsavedChangesPrompt()"
                            (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-rich-text-field>
                        </div>
                      }
                      @if (control.typeInfo.type === 'date') {
                        <div>
                          <app-date-field [fieldData]="control" [position]="i" (hasChanges)="unsavedChangesPrompt()"
                            (handleBitSets)="handleBitsetOfChildren($event)"
                            (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                          </app-date-field>
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
              @if (fieldAsFormArray().length > 1) {
                <div class="uk-width-expand uk-padding-remove uk-margin-small-top uk-grid uk-child-width-1-2">
                  <div class="">
                    <div>
                      <a (click)="move(i-1, i)"><span class="material-icons">north</span></a>
                    </div>
                    <div>
                      <a (click)="move(i+1, i)"><span class="material-icons">south</span></a>
                    </div>
                  </div>
                  <div class="uk-padding-small">
                    <a class="remove-element"
                      (click)="remove(i); updateBitSetOfComposite(fieldData, i); unsavedChangesPrompt();">
                      <span class="material-icons">clear</span>
                    </a>
                  </div>
                </div>
              }
            </div>
          }
        </div>
        @if (form.enabled) {
          <div class="uk-width-9-10 uk-text-center uk-margin-top uk-margin-bottom">
            <a class="add-new-element uk-flex uk-flex-middle uk-flex-center" (click)="pushComposite(fieldData)">
              <span class="material-icons">add</span>Add &nbsp;<span [innerHTML]="fieldData.label.text"></span>
            </a>
          </div>
        }
      </div>
    } @else {
      <div class="uk-width-1-1 uk-display-inline-block" [ngClass]="{'uk-margin-bottom formGroupElement': fieldData.form.display?.hasBorder}">
        @for (control of fieldData?.subFields; track control; let j = $index) {
          <div>
            <div class="">
              @if (control.typeInfo.type === 'composite') {
                <div>
                  <app-composite-field [fieldData]="control" [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                    (handleBitSets)="handleBitsetOfChildren($event)" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-composite-field>
                </div>
              }
              @if (control.typeInfo.type === 'chooseOne') {
                <div>
                  <app-choose-one [fieldData]="control" [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                    (handleBitSets)="handleBitsetOfChildren($event)" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-choose-one>
                </div>
              }
              @if (control.typeInfo.type === 'vocabulary' || control.typeInfo.type === 'select') {
                <div class="uk-form-controls uk-margin-medium-top">
                  <app-vocabulary-field [fieldData]="control" [subVocabularies]="subVocabularies"
                    [vocabularies]="vocabularies" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSets)="handleBitsetOfChildren($event)"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-vocabulary-field>
                </div>
              }
              @if (control.typeInfo.type === 'string' || control.typeInfo.type === 'url' ||
                control.typeInfo.type === 'email' || control.typeInfo.type === 'phone' ||
                control.typeInfo.type === 'double') {
                <div>
                  <app-string-url-email-field [fieldData]="control" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSets)="handleBitsetOfChildren($event)"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-string-url-email-field>
                </div>
              }
              @if (control.typeInfo.type === 'number') {
                <div>
                  <app-number-field [fieldData]="control" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSets)="handleBitsetOfChildren($event)"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-number-field>
                </div>
              }
              @if (control.typeInfo.type === 'checkbox') {
                <div class="uk-form-controls">
                  <app-checkbox-field [fieldData]="control" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSets)="handleBitsetOfChildren($event)"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-checkbox-field>
                </div>
              }
              @if (control.typeInfo.type === 'largeText') {
                <div class="uk-form-controls">
                  <app-large-text-field [fieldData]="control" [readonly]="readonly" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSets)="handleBitsetOfChildren($event)"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-large-text-field>
                </div>
              }
              @if (control.typeInfo.type === 'richText') {
                <div class="uk-form-controls">
                  <app-rich-text-field [fieldData]="control" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSets)="handleBitsetOfChildren($event)"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-rich-text-field>
                </div>
              }
              @if (control.typeInfo.type === 'radio') {
                <div class="uk-form-controls">
                  <app-radio-button-field [fieldData]="control" [readonly]="readonly" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSets)="handleBitsetOfChildren($event)"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-radio-button-field>
                </div>
              }
              @if (control.typeInfo.type === 'date') {
                <div>
                  <app-date-field [fieldData]="control" (hasChanges)="unsavedChangesPrompt()"
                    (handleBitSets)="handleBitsetOfChildren($event)"
                    (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                  </app-date-field>
                </div>
              }
              @if (control.typeInfo.type === 'radioGrid') {
                <div>
                  <app-radio-grid [fieldData]="control">
                  </app-radio-grid>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
    @if (fieldData.form.suggestion?.text) {
      <div class="uk-margin-top">
        <div class="uk-suggestion uk-width-9-10 {{fieldData.form.suggestion.cssClasses}}" style="{{fieldData.form.suggestion.style}}"
          [innerHTML]="fieldData.form.suggestion.text">
        </div>
      </div>
    }
  </form>
}
<!--<pre>{{fieldData | json}}</pre>-->
