
<!--Chapter Selection-->
@if (ready && model) {
  <div [ngClass]="{'uk-display-none': (model.sections.length === 1 || !model.sections[0].subSections)}">
    <ul class="chapter-tabs uk-tab" uk-tab="connect: #top-navigation-tabs; animation: uk-animation-fade">
      @for (section of model.sections; track section) {
        <li class="">
          @if ((!section.subType || section.subType===subType)) {
            <a>{{section.name}}
              <!--        <span *ngIf="chapterChangeMap.get(section.id)" class="material-icons md-10 uk-margin-small-left">circle</span>-->
            </a>
          }
        </li>
      }
    </ul>
  </div>
}

<div class="titleAndActionsBar uk-flex uk-flex-right" style="min-height: 40px"></div>

@if (ready && model) {
  <div>
    <ul id="top-navigation-tabs" class="uk-switcher">
      @for (section of model.sections; let i = $index; track section) {
        <li>
          <app-chapter-compare [formA]="getFormGroup(formA, i)" [formB]="getFormGroup(formB, i)" [tabsHeader]="tabsHeader"
            [entryA]="entryA" [entryB]="entryB" [fields]="model.sections[i].subSections"
            [chapter]="model.sections[i]" [vocabularies]="vocabulariesMap"
            [subVocabularies]="subVocabularies">
          </app-chapter-compare>
        </li>
      }
    </ul>
  </div>
} @else {
  <i class="loader-big" aria-hidden="true"></i>
}

