@if (datasource) {
  <div class="uk-container uk-margin-top">
    <h1 class="uk-flex uk-flex-center uk-margin">{{datasource.officialname}}</h1>
    @if (datasource.description) {
      <div class="uk-margin-bottom">
        <p>{{datasource.description}}</p>
      </div>
    }
    @if (datasource.websiteurl) {
      <div class="uk-margin-bottom">
        <a href="{{datasource.websiteurl}}">{{datasource.websiteurl}}</a>
      </div>
    }
  </div>
} @else {
  <div class="uk-card uk-text-warning">
    We can't find the datasource you are looking for.
  </div>
}

<pre>{{datasource | json}}</pre>
