@if (formControl) {
  <form [formGroup]="form" class="uk-margin-small-bottom {{fieldData.form.display.cssClasses}}" [ngClass]="{'uk-hidden clear-style': hideField}">
    @if (fieldData.label.text) {
      <div class="uk-form-label uk-margin-bottom {{fieldData.label.cssClasses}}"
        [attr.for]="fieldData.name" style="{{fieldData.label.style}}" [innerHTML]="fieldData.label.text + (fieldData.form.mandatory ? ' (*)' : '')">
      </div>
    }
    @if (fieldData.form.description.text) {
      <div class="uk-form-description uk-margin-bottom uk-width-9-10 {{fieldData.form.description.cssClasses}}"
        [innerHTML]="fieldData.form.description.text" style="{{fieldData.form.description.style}}">
      </div>
    }
    @if (fieldData.typeInfo.multiplicity) {
      <div [formArrayName]="fieldData.name">
        <!--Add Multiplicity here if needed-->
      </div>
    } @else {
      @for (value of fieldData.typeInfo.values; track value) {
        <div class="uk-margin-small-top">
          <label class="uk-form-label">
            <input class="uk-radio uk-margin-small-right " type="radio"
              [formControlName]="fieldData.name" [name]="fieldData.name" [value]="value"
              (input)="updateBitSet(fieldData); unsavedChangesPrompt()"
              [ngClass]="{'uk-form-danger': checkFormValidity()}">
            <span class="uk-radio-label">{{value}}</span>
          </label>
        </div>
      }
      <!--    <pre>{{fieldData.typeInfo.values}}</pre>-->
      <!--    <pre>{{formControl.value | json}}</pre>-->
      @if (fieldData.form.suggestion.text) {
        <div class="uk-margin-top">
          <div class="uk-suggestion uk-width-9-10 {{fieldData.form.suggestion.cssClasses}}" style="{{fieldData.form.suggestion.style}}"
            [innerHTML]="fieldData.form.suggestion.text">
          </div>
        </div>
      }
    }
  </form>
}
