@if (form) {
  <ng-container [formGroup]="form">
    @if (fieldData.form.display?.visible) {
      <div>
        <div class="">
          <div class="uk-form-controls">
            @if (fieldData.typeInfo.type === 'composite') {
              <div>
                <app-composite-field [fieldData]="fieldData" [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                  [readonly]="readonly" (hasChanges)="unsavedChangesPrompt()"
                  (handleBitSets)="handleBitsetOfChildren($event)"
                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                </app-composite-field>
              </div>
            }
            @if (fieldData.typeInfo.type === 'chooseOne') {
              <div>
                <app-choose-one [fieldData]="fieldData" [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                  (hasChanges)="unsavedChangesPrompt()" (handleBitSets)="handleBitsetOfChildren($event)"
                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                </app-choose-one>
              </div>
            }
            @if (fieldData.typeInfo.type === 'string' || fieldData.typeInfo.type === 'url' ||
              fieldData.typeInfo.type === 'email' || fieldData.typeInfo.type === 'phone' ||
              fieldData.typeInfo.type === 'double') {
              <div>
                <app-string-url-email-field [fieldData]="fieldData"
                  (hasChanges)="unsavedChangesPrompt()"
                  (handleBitSets)="handleBitsetOfChildren($event)"
                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                </app-string-url-email-field>
              </div>
            }
            @if (fieldData.typeInfo.type === 'number') {
              <div>
                <app-number-field [fieldData]="fieldData" (hasChanges)="unsavedChangesPrompt()"
                  (handleBitSets)="handleBitsetOfChildren($event)"
                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                </app-number-field>
              </div>
            }
            @if (fieldData.typeInfo.type === 'vocabulary' || fieldData.typeInfo.type === 'select') {
              <div>
                <app-vocabulary-field [fieldData]="fieldData" [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                  (handleBitSets)="handleBitsetOfChildren($event)" (hasChanges)="unsavedChangesPrompt()"
                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                </app-vocabulary-field>
              </div>
            }
            @if (fieldData.typeInfo.type === 'largeText') {
              <div>
                <app-large-text-field [fieldData]="fieldData" (hasChanges)="unsavedChangesPrompt()"
                  (handleBitSets)="handleBitsetOfChildren($event)"
                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                </app-large-text-field>
              </div>
            }
            @if (fieldData.typeInfo.type === 'radio') {
              <div>
                <app-radio-button-field [fieldData]="fieldData" [readonly]="readonly" (hasChanges)="unsavedChangesPrompt()"
                  (handleBitSets)="handleBitsetOfChildren($event)"
                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                </app-radio-button-field>
              </div>
            }
            @if (fieldData.typeInfo.type === 'richText') {
              <div>
                <app-rich-text-field [fieldData]="fieldData" (hasChanges)="unsavedChangesPrompt()"
                  (handleBitSets)="handleBitsetOfChildren($event)"
                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                </app-rich-text-field>
              </div>
            }
            @if (fieldData.typeInfo.type === 'date') {
              <div>
                <app-date-field [fieldData]="fieldData" (hasChanges)="unsavedChangesPrompt()"
                  (handleBitSets)="handleBitsetOfChildren($event)"
                  (handleBitSetsOfComposite)="handleCompositeBitsetOfChildren($event)">
                </app-date-field>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </ng-container>
}
