@if (ready) {
  <div class="uk-section-default uk-section uk-section-xsmall uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container uk-container-expand">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
        <div class="uk-width-1-1@m uk-first-column">
          <div class="titleAndActionsBar" style="min-height: 40px">
            <div class="">
              <div class="pageTitle">
                {{isEdit ? ' Update' : ' Add New'}}{{isService ? ' Service' : ''}}{{isDatasource ? ' Datasource Subprofile' : ''}}
              </div>
              @if (isService) {
                <div class="providerName uk-margin-small-top">
                  <strong>{{form.value.name ? form.value.name : 'Service Name'}}</strong> {{hasChanges ? '(unsaved changes)' : ''}}
                </div>
              }
              @if (isDatasource) {
                <div class="providerName uk-margin-small-top">
                  <strong>{{datasourceId ? datasourceId : 'Datasource Subprofile id'}}</strong> {{hasChanges ? '(unsaved changes)' : ''}}
                </div>
              }
            </div>
            <div class="uk-flex uk-flex-middle">
              @if (!readonly) {
                <button class="uk-button uk-button-secondary uk-margin-left"
                  (click)="onSubmit(false)" type="submit"> Submit
                </button>
              }
            </div>
          </div>
          @if (successMessage) {
            <div id="successMessage" class="uk-alert-success" uk-alert="animation: true; duration: 300;">
              <a class="uk-alert-close" uk-close></a>
              <p>{{successMessage}}</p>
            </div>
          }
          @if (chapter) {
            <div class="uk-margin-top chapter-description">
              <p [innerHtml]="chapter.description"></p>
            </div>
          }
          <div class="uk-margin-medium-bottom">
            <div class="uk-grid">
              <!-- MIDDLE -->
              <div class="uk-width-expand@m uk-margin-top">
                <div>
                  @if (bitset.requiredTotal !== 0 && mandatoryFieldsText) {
                    <div class="requiredFields">
                      {{mandatoryFieldsText}}
                    </div>
                  }
                  <div id="serviceForm">
                    @if (errorMessage) {
                      <div class="uk-alert uk-alert-danger">
                        <p>{{errorMessage}}</p>
                      </div>
                    }
                    @if (showLoader) {
                      <div class="whiteFilm">
                        <i class="fa fa-spinner fa-spin fa-5x uk-position-center loader" aria-hidden="true"></i>
                      </div>
                    }
                    <div class="uk-grid">
                      <div class="uk-width-1-4" [ngStyle]="{'display': fields?.length === 1 ? 'none' : 'block'}">
                        @if (tabsHeader) {
                          <div class="tabsTitle uk-margin-bottom">{{tabsHeader}}</div>
                        }
                        <ul id="{{chapter.name}}" class="uk-width-1-1 uk-margin-remove uk-tab uk-tab-left form-tabs"
                          [attr.uk-switcher]="'connect: #side-tab-'+chapter.id">
                          @for (tab of fields; track tab; let i = $index) {
                            <li  (click)="setTabIndex(i)">
                              <a id="{{chapter.id}}-tab{{i}}" href="#" class="remove-text-decoration uk-flex uk-flex-between"
                                [ngClass]="{'form-error': bitset.tabs.get(tab.id).valid}">
                                <span>{{tab.name + (tab.required.topLevel > 0 ? ' *' : '')}}</span>
                                @if (bitset.tabs.get(tab.id).requiredOnTab !== 0 && showBitsets) {
                                  <span class="circle-number">
                                    @if (bitset.tabs.get(tab.id).remainingOnTab === 0) {
                                      <i aria-hidden="true" class="fa fa-check"></i>
                                    }
                                    {{bitset.tabs.get(tab.id).remainingOnTab != 0 ? bitset.tabs.get(tab.id).remainingOnTab + '*' : ''}}
                                  </span>
                                }
                              </a>
                            </li>
                          }
                        </ul>
                        @if (bitset.requiredTotal !== 0) {
                          <div class="requiredFields uk-text-right">*Required fields</div>
                        }
                        @if (bitset?.tabs) {
                          <div class="uk-margin-small-top uk-flex uk-flex-center">
                            <button class="uk-button uk-margin-small-right" [disabled]="(tabIndex === 0)"
                              (click)="goToTab(tabIndex-1)"
                              [ngClass]="tabIndex === 0 ? 'uk-button-secondary' : 'uk-button-primary'">
                              <i class="fa fa-angle-left"></i> PREVIOUS
                            </button>
                            <button id="next" class="uk-button" [disabled]="(tabIndex === bitset.tabs.size - 1)"
                              (click)="goToTab(tabIndex+1)"
                              [ngClass]="tabIndex === bitset.tabs.size - 1  ? 'uk-button-secondary' : 'uk-button-primary'">
                              NEXT <i class="fa fa-angle-right"></i>
                            </button>
                          </div>
                        }
                        @if (showBitsets) {
                          <div>
                            <div class="stepsCompleted uk-margin-top uk-text-center">
                              {{bitset.completedTabs}} of {{bitset.requiredTabs}}
                            </div>
                            <div class="uk-margin-small-top">
                              <progress id="js-progressbar" class="uk-progress uk-margin-remove-bottom"
                                value="{{loaderPercentage}}"
                              max="100"></progress>
                              <div [ngStyle]="{'margin-left.%': (loaderPercentage*0.9).toLocaleString()}"
                                class="percentageNumber">{{loaderPercentage}}%
                              </div>
                            </div>
                          </div>
                        }
                      </div>
                      @if (form && ready) {
                        <div [ngClass]="fields.length === 1 ? 'uk-width-1-1' : 'uk-width-3-4'">
                          <form [formGroup]="form">
                            <div class="formContainer">
                              <ul id="side-tab-{{chapter.id}}" class="uk-switcher">
                                @for (group of fields; track group) {
                                  <li>
                                    @for (fieldsData of group.fields; track fieldsData) {
                                      <div
                                        [ngClass]="{'uk-card uk-card-body uk-card-default uk-margin-medium-bottom': fieldsData.form.display?.visible}">
                                        <app-field [editMode]="editMode" [fieldData]="fieldsData" [form]="form"
                                          [subVocabularies]="subVocabularies" [vocabularies]="vocabularies"
                                          [readonly]="readonly" (hasChanges)="unsavedChangesPrompt($event)">
                                          <!--                                           (handleBitSets)="handleBitSet($event)"-->
                                          <!--                                           (handleBitSetsOfComposite)="handleBitSetOfComposite($event)">-->
                                        </app-field>
                                      </div>
                                    }
                                  </li>
                                }
                              </ul>
                            </div>
                          </form>
                          <!--                      <pre>{{form.value | json}}</pre>-->
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
@if (!ready) {
  <div class="whiteFilm">
    <i class="loader-big" aria-hidden="true"></i>
  </div>
}
